.about {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.about p {
    color: #555;
    line-height: 1.6;
    text-align: center;
}
